@model IEnumerable<ONELLOTARJANNEST10178800PROG6212POEPART2.Models.ApplicationUser>

<h1>Lecturers</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lecturer in Model)
        {
            <tr>
                <td>@lecturer.FirstName @lecturer.LastName</td>
                <td>@lecturer.Email</td>
                <td>@lecturer.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@lecturer.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="ApprovedClaims" asp-controller="Home" class="btn btn-success">
    View HR Claims DASHBOARD
</a>
